NODE_ENV=development
PORT=3001

DB_HOST=31.97.198.53
DB_PORT=3306
DB_NAME=u521045682_rhfichaje
DB_USER=rhfichaje
DB_PASSWORD=Victrium-rh-fichaje1.

JWT_ACCESS_SECRET=change-me-use-at-least-32-characters
JWT_REFRESH_SECRET=change-me-use-at-least-32-characters
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGINS=http://localhost:3000
TZ=Europe/Madrid

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
